# Ambientes
.env
.env.local
.env.*.local
**/.env
IngSw/
requirements.antiguo.txt

# Python
__pycache__/
*.py[cod]
venv/
env/
contraseñas.txt

# Django 
**/__pycache__/
packages

# Node / Vue 
node_modules/
dist/
dist-ssr/
staticfiles/
*db.sqlite3

.vscode/
*.log
*.tsbuildinfo
.eslintcache