# Ambientes
.env
.env.local
.env.*.local
**/.env
IngSw/

# Python
__pycache__/
*.py[cod]

# Django 
**/migrations/
**/__pycache__/

# Node / Vue 
node_modules/
dist/
dist-ssr/
staticfiles/
*db.sqlite3

.vscode/
*.log
*.tsbuildinfo
.eslintcache