svg[data-v-ae0d7d48]{display:inline-block;vertical-align:middle;margin-right:6px}.svg-wrapper[data-v-ae0d7d48] svg{width:100%;height:100%;display:inline-block;vertical-align:middle;fill:currentColor}
